table {
  border: 1px solid;
  width: 100%;
}

.app {
  width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.add-new-bug-form {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid;
  margin-top: 20px;
}

table td , table th {
  text-align: left;
  padding: 10px;
}

table th {
  background-color: aliceblue;
}

.add-new-bug-form input, .add-new-bug-form select {
  padding: 10px;
  margin: 5px 0;
}

form {
  margin: 5px 0;
}

.add-new-bug-form button {
  background-color: rgb(19, 55, 86);
  border: 0;
  padding: 10px;
  margin: 5px 0;
  color: white;
}